.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  font-size: calc(12pt + 1em);
}

div.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.page > * {
  text-align: center;
}